<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="{{ site.baseurl }}/">About</a>
      <a class="sidebar-nav-item{% if page.url == '/research/' %} active{% endif %}" href="{{ site.baseurl }}/research/">Research</a>
      <a class="sidebar-nav-item{% if page.url == '/projects/' %} active{% endif %}" href="{{ site.baseurl }}/projects/">Projects</a>
      <a class="sidebar-nav-item{% if page.url == '/writings/' %} active{% endif %}" href="{{ site.baseurl }}/writings/">Writings</a>
      <a class="sidebar-nav-item{% if page.url == '/fun/' %} active{% endif %}" href="{{ site.baseurl }}/fun/">Fun</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
